<html>
{% extends "base.html" %}
{% load static %}
<title>{% block title %}Corona{% endblock %}</title>
{% block contenthead %}
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
{% endblock %}
<body>
   {% block content %}
   <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Country Name</th>
          <th scope="col">Cases</th>
          <th scope="col">Deaths</th>
          <th scope="col">Region</th>
          <th scope="col">Total Recovered</th>
          <th scope="col">New Deaths</th>
          <th scope="col">New Cases</th>
          <th scope="col">Serious Critical</th>
          <th scope="col">Active Cases</th>
          <th scope="col">Total Cases Per Minutes</th>
        </tr>
      </thead>
    <tbody>
      {% for key in countries_stat %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ key.country_name }}</td>
        <td>{{ key.cases }}</td>
        <td>{{ key.deaths }}</td>
        <td>{{ key.region }}</td>
        <td>{{ key.total_recovered }}</td>
        <td>{{ key.new_deaths }}</td>
        <td>{{ key.new_cases }}</td>
        <td>{{ key.serious_critical }}</td>
        <td>{{ key.active_cases }}</td>
        <td>{{ key.total_cases_per_1m_population }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
   {% endblock %}
</body>
</html>
