<html>
{% extends "base.html" %}
{% load static %}
<title>{% block title %}Home{% endblock %}</title>
{% block contenthead %}
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
{% endblock %}
<body>
   {% block content %}
     <!-- {% for k in countries_stat %}
        {{ k.country_name }} : {{ k.active_cases }}<br>
      {% endfor %}-->
      {{ countries_stat.0.country_name }}
      <div class="container-fluid h-100">
          <header class="row h-25">
              <div class="col-12">
              </div>
          </header>
          <div class="row h-25 h3">
              <div class="col-lg-6 col-sm-1"></div>
              <div class="col-lg-4 col-sm-11">
                  <p class= "text-left font-weight-bold text-primary">Country : {{ countries_stat.0.country_name }}</p><br>
                  <p class= "text-left font-weight-bold text-warning">Cases : {{ countries_stat.0.cases }}</p><br>
                  <p class= "text-left font-weight-bold text-danger">Deaths : {{ countries_stat.0.deaths }}</p><br>
                  <p class= "text-left font-weight-bold text-success">Total recovered : {{ countries_stat.0.total_recovered }}</p><br>
                  <p class= "text-left font-weight-bold"></p>
              </div>
              <div class="col-2 col-sm-1"></div>
          </div>
          <footer class="row">
              <div class="col-12"></div>
          </footer>
      </div>
  {% endblock %}
</body>
</html>
